<!DOCTYPE html>
<html lang="es">

{{>headerId}}

<body>
  <!--Estilos-->
  <style>
    .fa-eye {
      color: black;
    }

    .fa-ban {
      color: black;
    }

    .fa-eye:hover {
      color: gray;
    }

    .fa-ban:hover {
      color: red;
    }

    #mensajeErrorNombre {
      display: none;
      color: red;
      margin-top: 5px;
    }

    #mensajeErrorNombre .icono {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }

    #mensajeErrorDocumento {
      display: none;
      color: red;
      margin-top: 5px;
    }

    #mensajeErrorDocumento .icono {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }

    #mensajeErrorTelefono {
      display: none;
      color: red;
      margin-top: 5px;
    }

    #mensajeErrorTelefono .icono {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }
  </style>
  <!--End Estilos-->

  <!--////////////////////-->
  <!--Start Navbar-->
  <!--////////////////////-->

  <div class="wrapper ">
    <div class="sidebar" data-color="black">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text" style="color:white;">
          Levitisoft
        </a>
      </div>
      <div class="logo">
        <a href="" class="simple-text" style="color:white; ">
          <img src="../assets/img/admin4.png" style="width: 34px;"> Administrador
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/dashboard">
              <i class="fa fa-house" style="color: white;"></i>
              <p style="color: white;">Home</p>
            </a>
          </li>
          <li>
            <a href="/roles">
              <i class="fa fa-gear" style="color:white;"></i>
              <p style="color: white;">Roles</p>
            </a>
          </li>
          <li>
            <a href="/usuarios">
              <i class="fa fa-users" style="color:white;"></i>
              <p style="color:white;">Usuarios</p>
            </a>
          </li>
          <li>
            <a href="/compras">
              <i class="fa fa-shop" style="color:white;"></i>
              <p style="color:white;">Compras</p>
            </a>
          </li>
          <li>
            <a href="/insumos">
              <i class="fa fa-box" style="color:white;"></i>
              <p style="color:white;">Insumos</p>
            </a>
          </li>
          <li>
            <a href="/produccion">
              <i class="fa fa-scissors" style="color:white;"></i>
              <p style="color:white;">Producción</p>
            </a>
          </li>
          <li>
            <a href="/ProductosDash">
              <i class="fa fa-boxes-packing" style="color:white;"></i>
              <p style="color:white;">Productos</p>
            </a>
          </li>
          <li class="active">
            <a href="/clientes" style="background-color: white">
              <i class="fa fa-user" style="color: black;"></i>
              <p style="color: black;">Clientes</p>
            </a>
          </li>
          <li>
            <a href="/ventas">
              <i class="fa fa-truck-fast" style="color:white;"></i>
              <p style="color:white;">Ventas</p>
            </a>
          </li>
          <li>
            <a href="/reparaciones">
              <i class="fa fa-screwdriver-wrench" style="color:white;"></i>
              <p style="color:white;">Reparaciones</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand navbar-absolute" style="background-color: rgb(124, 123, 123);">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#" style="margin-left: 10px;">Clientes</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <a class="nav-link" href="/home">
              <i class="fa fa-user"></i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
          </div>
        </div>
      </nav>
      <!--////////////////////-->
      <!-- End Navbar -->
      <!--////////////////////-->



      <!--INICIO CUERPO-->
      <center>
        <div class="container" style="margin-top: 80px;">

          <!--Start Form&Card-->
          <div class="card" style="width: 95%; border-radius: 0;">
            <div class="card-body">
              <h4 class="card-title" style="margin-bottom: 2%;">Actualizar información del usuario</h4>
              <!--Start Card 1-->
              <div class="card" style="width: 35%; border-radius: 0; margin-left: 20px;">
                <div class="card-body">
                  {{#each info}}
                  <form method="post" action="" id="formulario">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingInput" style="border-radius: 0;"
                            value="{{idInfo}}" disabled>
                          <label for="floatingInput">IdInfo</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="nombre" style="border-radius: 0;"
                            value="{{nombre}}" name="nombre">
                          <div id="mensajeErrorNombre"></div>
                          <label for="floatingInput">Nombre</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="documento" style="border-radius: 0;"
                            value="{{documento}}" name="documento">
                          <div id="mensajeErrorDocumento"></div>
                          <label for="floatingInput">Documento</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="telefono" style="border-radius: 0;"
                            value="{{telefono}}" name="telefono">
                          <div id="mensajeErrorTelefono"></div>
                          <label for="floatingInput">Telefono</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <select class="form-control" id="estado" style="border-radius: 0;" name="estado">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                          </select>
                          <label for="floatingInput">Estado</label>
                        </div>
                      </div>

                    </div>
                </div>
              </div>

              <div style="margin-top: 1%; margin-left:20px;">
                <div style="margin-top: 1%; width: 35%;">
                  <div class="d-grid gap-2">

                    <button type="submit" class=" btn btn-success" style="border-radius: 0; margin-bottom: 1px;"
                      id="boton">
                      Actualizar</a>
                  </div>
                  <a class="btn btn-danger" href="/clientes" style="border-radius: 0; margin-top: 1px; width:100%;"
                    type="button">Cancelar</a>
                </div>
              </div>
              </form>
              {{/each}}
            </div>
          </div>
        </div>
        {{>footer}}
    </div>
    <!--End Form&Card-->




    </center>
    <!--FIN CUERPO-->
</body>


<!--////////////////////-->
<!--START JS-->
<!--////////////////////-->
<script>
  let formulario = document.querySelector('#formulario');
  let documentoInputs = document.querySelectorAll('input[name="documento"]');
  let nombreInputs = document.querySelectorAll('input[name="nombre"]');
  let telefonoInputs = document.querySelectorAll('input[name="telefono"]');
  let mensajeErrorNombre = document.querySelector('#mensajeErrorNombre');
  let mensajeErrorDocumento = document.querySelector('#mensajeErrorDocumento');
  let mensajeErrorTelefono = document.querySelector('#mensajeErrorTelefono');

  nombreInputs.forEach(function (nombreInput) {
    nombreInput.addEventListener('blur', function () {
      validarNombre(nombreInput.value);
    });
  });

  documentoInputs.forEach(function (documentoInput) {
    documentoInput.addEventListener('blur', function () {
      validarDocumento(documentoInput.value);
    });
  });

  telefonoInputs.forEach(function (telefonoInput) {
    telefonoInput.addEventListener('blur', function () {
      validarTelefono(telefonoInput.value);
    });
  });


  formulario.addEventListener('submit', function (event) {
    let nombreValido = validarNombre(nombreInputs[0].value);
    let documentoValido = validarDocumento(documentoInputs[0].value);
    let telefonoValido = validarTelefono(telefonoInputs[0].value);

    if (!nombreValido || !documentoValido || !telefonoValido) {
      event.preventDefault();
    }
  });

  function validarNombre(nombre) {
    if (nombre === "") {
      mostrarError(mensajeErrorNombre, 'Campo Obligatorio');
      return false;
    } else {
      ocultarError(mensajeErrorNombre);
      return true;
    }
  }

  function validarDocumento(documento) {
    if (documento === "") {
      mostrarError(mensajeErrorDocumento, 'Campo Obligatorio');
      return false;
    } else {
      ocultarError(mensajeErrorDocumento);
      return true;
    }
  }
  function validarTelefono(telefono) {
    if (telefono === "") {
      mostrarError(mensajeErrorTelefono, 'Campo Obligatorio');
      return false;
    } else {
      ocultarError(mensajeErrorTelefono);
      return true;
    }
  }


  function mostrarError(elemento, mensaje) {
    elemento.innerHTML = '<span class="icono fa fa-circle-xmark"></span>' + mensaje;
    elemento.style.display = 'block';
  }

  function ocultarError(elemento) {
    elemento.innerHTML = '';
    elemento.style.display = 'none';
  }



</script>

<!--JS Para el mensajito al pasar el mouse sobre el usuario-->
<script src="js/bootstrap.bunle.min.js" type="text/javascript"></script>
<script>
  var tooltipTrigger = [].slice.call(document.querySelectorAll('[data-bs-toggle="mensaje"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<!--Core JS Files-->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo/demo.js"></script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>
<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--////////////////////-->
<!--END JS-->
<!--////////////////////-->

</html>