<!DOCTYPE html>
<html lang="es">
{{> header }}
<style>


    .btn-gradient {
        background: linear-gradient(to right, rgb(56, 59, 255), rgb(170, 57, 245), rgb(255, 72, 0), yellow);
        color: white;

    }

    .boton:hover {
        color: black;
    }
    }
</style>
{{>navbar}}
<center>
    <h2>Contáctanos</h2>
</center>
<br><br>
<div class="container">
    <h5>Nuestra tienda</h5>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7906241396117!2d-75.57240896057824!3d6.291226627060192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f2ac2018093%3A0xc1cf37c62f1b52ca!2sCl.%2096%20%236827%2C%20Castilla%2C%20Medell%C3%ADn%2C%20Castilla%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1682984232240!5m2!1ses!2sco"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
    <h5>Nuestras redes sociales</h5>
    <a href="https://www.facebook.com/profile.php?id=100015648884225" class="boton btn btn-primary"><i class="fa fa-facebook"> </i> Facebook</a>
    <a href="https://wa.link/fm2ez7&quot;&gt;&lt;i" class="boton btn btn-success" ><i class="fa fa-whatsapp"> </i> Whatsapp</a>
    <a href="https://instagram.com/leviticoaccesorios?igshid=YmMyMTA2M2Y=&quot;&gt;&lt;i" class="btn-gradient btn btn-light"><i class="fa fa-instagram"></i> Instagram</a>

</div>
{{>footer}}

</html>