<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="assets/img/icono.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Iniciar sesión
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <script src="https://kit.fontawesome.com/bc88cb68e3.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/footer.css">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/css/login.css" rel="stylesheet" />
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
  <br>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar
        sesión</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>

      <div class="login-form">
        <div class="sign-in-htm">
          <form action="/login" method="post">
            <div class="group">
              <label for="correo" class="label">Correo</label>
              <input id="correo" type="email" class="input" name="correol" required>
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <div class="password-input">
                <input id="pass" type="password" class="input" data-type="password" name="passswordl" required>
                <span class="toggle-password">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span>Mantenerme iniciado</label>
            </div>
            {{#if errorl}}
            <p class="errorl"><i class="fa fa-xmark"></i>* {{errorl}}</p>
            {{/if}}
            <div class="group">
              <input type="submit" class="button" value="Iniciar sesión">
            </div>
            <div class="group">
              <a href="home" class="buttonC text-center" value="Cancelar" style="text-decoration: none;">CANCELAR</a>
            </div>
          </form>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="olvidar_contrase">Olvidaste tu contraseña?</a>
          </div>
        </div>

        <div class="sign-up-htm">
          <form action="/register" method="post">
            <div class="group">
              <label for="pass" class="label">Correo</label>
              <input id="correo" type="email" class="input" name="correo" required>
            </div>
            <div class="group">
              <label for="pass" class="label">contraseña</label>
              <div class="password-input">
                <input id="password" type="password" class="input" data-type="password" name="password" required>
                <span class="toggle-password">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="group">
              <label for="pass" class="label">Repetir contraseña</label>
              <div class="password-input">
                <input id="pass" type="password" class="input" data-type="password" required>
                <span class="toggle-password">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="group">
              <label for="rol" class="label">Asignar rol</label>
              <select name="rol" id="rol" class="input">
                {{#each roles}}
                <option value="{{idRoles}}">{{nombreRoles}}</option>
                {{/each}}
              </select>
            </div>
            {{#if error}}
            <p class="error"><i class="fa fa-xmark"></i>* {{error}}</p>
            {{/if}}
            <div class="group">
              <input type="submit" class="button" value="Registrarse">
            </div>
            <div class="group">
              <a href="home" class="buttonC text-center" value="Cancelar" style="text-decoration: none;">CANCELAR</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
<br>

</body>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    $('.toggle-password').click(function () {
      var passwordField = $(this).prev('input');
      var fieldType = passwordField.attr('type');

      if (fieldType === 'password') {
        passwordField.attr('type', 'text');
        $(this).find('i').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
      } else {
        passwordField.attr('type', 'password');
        $(this).find('i').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
      }
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/demo/demo.js"></script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</html>