<!DOCTYPE html>
<html lang="es">
{{> header }}

<body style="background-color: #E3E3E3;">
    {{>navbar}}
    <style>
        .carta {
            width: 15rem;
            height: 240px;
            text-align: center;
            margin-left: 7px;
            overflow: hidden;
            transition: 0.5s;
            object-fit: cover;
        }

        .contenedorcarta {
            margin: 0 auto;

        }

        .carta:hover {
            transform: scale(1.2);
        }

        a {
            text-decoration: none;
        }

        a:link {
            color: #000000;
            /* color del enlace no visitado */
        }

        a:visited {
            color: #000000;
            /* color del enlace visitado */
        }
    </style>
    <center>
        <h3>Productos</h3>
        <h5>Categorias</h5>
    </center>
    <br>
    <div class="contenedorcarta row" style="width: 90%; ">

        <div class="col-3">
            <a href="ProduBolsos"><div class="carta card" style="width: 15rem; ">
                <center><img
                            src="https://scontent.fpei1-1.fna.fbcdn.net/v/t1.6435-9/46482479_434331350431824_2950248945843961856_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEsx4dwHF4nDCPY_vtlVfMZ87QgQ6zLuJvztCBDrMu4mw1o3zh4jmw0zScTsPcZg_iIYr1kDO_1kcEb2tp5KJjX&_nc_ohc=AoM6zmYtJpMAX-vI0i5&_nc_oc=AQlIWSFHY_kj0Q58-tkRd2iWotPU_ivGt4M-QQK38ZzQC2r5adKrTmFS7AbIKrgkSVo&_nc_ht=scontent.fpei1-1.fna&oh=00_AfCPUwEZ_QHLBBFr7bXajJGc8nYHFA8Fnyn8pOxpHnifpw&oe=6477D40C"
                            class="imagen card-img-top" alt="..." style="width:55%; margin-top:7px;"></center>
                <div class="card-body">
                    <h5 class="card-title">Bolsos</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="ProduCorreas"><div class="carta card">
                <center><img style="width:54%; margin-top:7px;"
                            src="assets/img/productosCorrea/Correas1.jpg"
                            class="imagen card-img-top" alt="..."></center>
                <div class="card-body">
                    <h5 class="card-title">Correas</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="ProduChaquetas"><div class="carta card">
                <center><img style="width:37%; margin-top: 7px;"
                            src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/46456303_432731383925154_3283544158974771200_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGXe-Z5IJuOsyGK3abTOjAikqY9opWaVqeSpj2ilZpWp3M79n-eua3NuKL_uh3Zs0OS9Hdy5xh9Ce1Spx18lxBR&_nc_ohc=uWu6zk4AsLQAX-VB2QG&_nc_ht=scontent.fpei3-1.fna&oh=00_AfAXeqw46rWIpahkmh-RddkzODZFtaD8HQVBMxIAgRqKFg&oe=6477C09B"
                            class="imagen card-img-top" alt="..."></center>
                <div class="card-body">
                    <h5 class="card-title">Chaquetas</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="ProduBilletera"><div class="carta card">
                <center><img style="width:67%;" src="assets/img/billetera.jpeg" class="imagen card-img-top"
                            alt="...">
                    </center>
                <div class="card-body">
                    <h5 class="card-title">Billeteras</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>
    </div>
    <div class="contenedorcarta row" style="width: 90%;  padding-top:40px;">
        <br>
        <div class="col-3">
            <a href="ProduRino"><div class="carta card" style="width: 15rem; ">
                <center><img
                            src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/46357880_432730690591890_5034854208206012416_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGe3iRsg2XlLsqBWVF7iYW_NxTUTyy_ppY3FNRPLL-mlu_Pfc60_RbOvmG-UscftijAAZrvhMle794Wt53DrHZy&_nc_ohc=_6YbBZK6QMkAX-wWLIB&_nc_ht=scontent.fpei3-1.fna&oh=00_AfCNxianaG1fUMXV0Ywk9ZMvc4Ru_mKTsdVxnTP8WgX5-g&oe=6477C9C9"
                            class="imagen card-img-top" alt="..." style="width:55%; margin-top:7px;"></center>
                <div class="card-body">
                    <h6 class="card-title">Riñoneras</h6>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="ProduMorral"><div class="carta card">
                <center><img style="width:55%; margin-top:7px;" src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/46459157_432730253925267_3628687146765778944_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEqH7SHQ2r3YaQGIwLG4H4rBAtwbCwJePQEC3BsLAl49Piqyi4chvoNdHq1R-OZB8sJu9D6sk2qp2z9KNdh-dgq&_nc_ohc=BmGeZQJMNoIAX9HL5u6&_nc_ht=scontent.fpei3-1.fna&oh=00_AfD6k3QsR1UbHnNJTYOQVCIAlkaWlOPTPmVVsesWMCe4KA&oe=6477C78E" class="imagen card-img-top"
                            alt="...">
                    </center>
                <div class="card-body">
                    <h5 class="card-title">Morrales</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="ProduZapatos
            "><div class="carta card">
                <center><img style="width:95%; margin-top:7px;"
                            src="https://scontent.fpei3-1.fna.fbcdn.net/v/t39.30808-6/305847861_1345593272638956_520187308498056155_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeHEnJQTG3UHvPQmq_aiSEiku0dcGMGa2827R1wYwZrbzRDvaM6z20746cy4tillRLUXP9bUQ3cGNcRnLSpEtUCQ&_nc_ohc=D9kwgIAFvBQAX_877iQ&_nc_ht=scontent.fpei3-1.fna&oh=00_AfBxA-QDeDSJPMbSlKE_2UAsOR4VBzFHRYo3nsRx2XLKRg&oe=64564286"
                            class="imagen card-img-top" alt="..."></center>
                <div class="card-body">
                    <h5 class="card-title">Zapatos</h5>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>

        <div class="col-3">
            <a href="">
                <div class="carta card">
                    <center><img style="width:55%;"
                            src="https://http2.mlstatic.com/D_NQ_NP_797779-MCO50098202559_052022-O.jpg"
                            class="imagen card-img-top" alt="..."></center>
                    <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text"></p>

                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="contenedorcarta row" style="width: 90%;  padding-top:40px;">
        <br>
        <div class="col-3">
            <a href=""><div class="carta card" style="width: 15rem; ">
                <center><img
                            src="https://http2.mlstatic.com/D_NQ_NP_888668-MCO46639076121_072021-W.jpg"
                            class="imagen card-img-top" alt="..." style="width:55%; margin-top:7px;"></center>
                <div class="card-body">
                    <h6 class="card-title">Sombreros</h6>
                    <p class="card-text"></p>

                </div>
            </div></a>
        </div>
    </div>
</body>
{{>footer}}

</html>