<!--Inicio footer-->
    <div style="bottom: 0;  position:static">
      <footer class="footer-dark" style="position:static">
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100015648884225" class="icon ion-social-facebook"></i></a>
                    <a href="https://wa.link/fm2ez7&quot;&gt;&lt;i" class="icon ion-social-whatsapp"></i></a>
                    <a href="https://instagram.com/leviticoaccesorios?igshid=YmMyMTA2M2Y=&quot;&gt;&lt;i" class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">LA TRILOGIA QUE ESTUDIA © 2022</p>
            </div>
        </footer>
    </div>
<!--Fin footer-->