<!--Inicio footer-->
<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="text-center text-md-center iconos">
            <a href="#" class="social-icon">
                <i class="fab fa-facebook "></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class=" text-center text-md-center">
                    <p class="small text-muted mb-0">&copy; 2022 La trilogia que estudia.</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--Fin footer-->