<nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">

  <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

    <ul class="navbar-nav me-auto">
      <li>
        <a class="navbar-brand" href="home"><img src="assets/img/levitico.png" alt=""></a>
      </li>
    </ul>
    <center>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- Link--><a class="nav-link" href="home">Inicio</a>
        </li>
        <li class="nav-item">
          <!-- Link--><a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
          <!-- Link--><a class="nav-link" href="recomendaciones">Recomendaciones</a>
        </li>
        <li class="nav-item">
          <!-- Link--><a class="nav-link" href="sobre_nosotros">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <!-- Link--><a class="nav-link" href="contactanos">Contactanos</a>
        </li>
    </center>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class=""><a class="nav-link" href="login"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a>
      </li>
    </ul>
  </div>

</nav>

<script>
  // Obtiene la URL actual
  var currentURL = window.location.pathname;

  // Obtén todos los elementos de la lista de la barra de navegación
  var navItems = document.querySelectorAll('.navbar-nav .nav-item');

  // Itera sobre cada elemento y cambia el color si coincide con la URL actual
  navItems.forEach(function (item) {
    var link = item.querySelector('.nav-link');
    var href = link.getAttribute('href');

    if (currentURL.includes(href)) {
      link.classList.add('active'); // Agrega la clase 'active' para resaltar el enlace activo
    } else {
      link.classList.remove('active'); // Elimina la clase 'active' si no coincide con la URL actual
    }
  });

</script>

